.mainpage-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 170px;
  .firstpage-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .greeting-txt {
      h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 68px;
        color: #002834;
      }
      p {
        color: #002834;
        font-weight: 300;
        font-size: 16px;
      }
    }
    .services {
      margin-top: 50px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 44px;
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          margin: 0 0 0 17px;
          font-family: 'Baloo 2';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}
