.product-to-buy {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  margin: 20px 20px;
  justify-items: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(80, 132, 120, 0.5);
  p {
    font-weight: 500;
    font-size: 16px;
  }
  img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
  }
  span {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 24px;
    justify-content: center;
    align-items: center;

    .edit-quantity-btn {
      user-select: none;
      cursor: pointer;
      display: flex;
      margin: 0 10px;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 25px;
      background: rgba(80, 132, 120, 0.25);
      border-radius: 10px;
      &:hover {
        background: rgba(80, 132, 120, 0.5);
      }
    }
  }
  .deleteBtn {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
