.product-to-buy {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  margin: 20px 20px;
  justify-items: center;
  align-items: center;
  p {
    font-weight: 500;
    font-size: 16px;
  }
  div {
    border: 1px solid #000;
    border-radius: 10px;
    width: 100px;
    height: 150px;
    background-image: url('https://i.postimg.cc/wjx7D1js/ryan-hoffman-u6n1-Hr-W0sd-Q-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  span {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 24px;
    justify-content: center;
    align-items: center;

    .edit-quantity-btn {
      display: flex;
      margin: 0 10px;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 25px;
      background: rgba(80, 132, 120, 0.25);
      border-radius: 10px;
    }
  }
}
