@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');
$base-color: #002834;
$second-color: #2d4e46;

::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: $second-color;
}

body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: $base-color;
}

p {
  margin: 0;
  color: $base-color;
}

a {
  color: $base-color;
}
