::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #2d4e46;
}

body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: #002834;
}

p {
  margin: 0;
  color: #002834;
}

a {
  color: #002834;
}
